*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    background-color:blueviolet ;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: burlywood ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}

h1 {
    text-align: center;
    color:black;
}

#task-list {
    margin-top: 20px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.task-actions {
    display: flex;
}

.completed {
    text-decoration: line-through;
    color: #aaa;
}

.add-task {
    display: flex;
    margin-top: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}
